<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link
			rel="preconnect"
			href="https://fonts.googleapis.com"
		/>
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/header.css"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/style.css"
		/>
		<link
			rel="stylesheet"
			href="/stylesheets/projets.css"
		/>
		<link rel="stylesheet" href="/stylesheets/acceuil.css">
		<link rel="stylesheet" href="/stylesheets/specialite.css">
		<link rel="stylesheet" href="/stylesheets/compétence.css">

		<!-- Inclure GSAP -->
		<script src="/lib/gsap/dist/gsap.min.js"></script>
		<script src="/lib/gsap/dist/Scrolltrigger.min.js"></script>
		<!-- Inclure votre script d'animation -->
	</head>
	<body>
		<%- include('components/header.ejs') -%>
		<%- include('components/acceuil.ejs') -%>
		<%- include('components/spécialité.ejs') -%>
		<%- include('components/compétence.ejs') -%>
		<%- include('components/projets.ejs') -%>
	</body>

	<script
		type="module"
		src="/javascripts/animations/animationheader.js"
	></script>
	<script
		type="module"
		src="/javascripts/animations/animationAcceuil.js"
	></script>
	<script
		type="module"
		src="/javascripts/animations/animationCompetence.js"
	></script>
	<script
		type="module"
		src="/javascripts/animations/animationSpecialite.js"
	></script>
	<script
		type="module"
		src="/javascripts/functions/linkFunction.js"
	></script>
</html>
